<%= stylesheet_link_tag "trees" %>
<div id="<%= dom_id(tree) %>" class="linktree <%= tree.style %>">
  <div class="user-name">
    <strong><%= tree.name %></strong>
  </div>

  <% if tree.x.present? %>
    <div class="link-item">
      <%= image_tag('xlogo.png', alt: 'X') %> <!-- Adjust the file name as necessary -->
      <a href="<%= tree.x %>" target="_blank"><%= tree.x %></a>
      <%= tree.x %>
    </div>
  <% end %>

  <% if tree.instagram.present? %>
    <div class="link-item">
      <%= image_tag('instagramlogo.png', alt: 'Instagram') %> <!-- Adjust the file name as necessary -->
      <a href="<%= tree.instagram %>" target="_blank"><%= tree.instagram %></a>
    </div>
  <% end %>

  <% if tree.youtube.present? %>
    <div class="link-item">
       <%= image_tag('youtubelogo.png', alt: 'Youtube') %> <!-- Adjust the file name as necessary -->
      <a href="<%= tree.youtube %>" target="_blank"><%= tree.youtube %></a>
    </div>
  <% end %>

  <div class="user-info">
  <% if tree.category_id.present? %>
    <p>
      <strong>Category:</strong>
      <%= tree.category_id%>
    </p>
    <% end %>
    <p>
      <strong>Style:</strong>
      <%= tree.style %>
    </p>
  </div>
</div>
