<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="main">
  <p class="notice" style="color: green"><%= notice %></p>
  <h1 class="heading">Explore Trees</h1>
  <div id="trees" class="container">
    <% @trees.each do |tree| %>
      <div class="linktrees">
        <%= render tree %>
          <%= link_to tree, class: "button-64", role: "button" do %>
            <%= content_tag :span, "Show this tree", class: "text" %>
          <% end %>
      </div>
    <% end %>
  </div>


</div>
