<%= stylesheet_link_tag 'home_index' %>
<div class="home">
  <div class="column column-60">
    <div class="content-container">
      <div class="text-content">
        <h1 class="heading">Everything you are. In one, simple link in bio.</h1>
        <p>Join 40M+ people using TreeLink for their link in bio. One link to help you share everything you create, curate and sell from your Instagram, TikTok, Twitter, YouTube, and other social media profiles.</p>
        <%= link_to "Explore Trees", trees_path, class: "button-1" %>
        <% if user_signed_in? %>
          <% if current_user.tree.present? %>
            <%= link_to "View my tree", current_user.tree, class: "button-1", target: "_blank" %>
          <% else %>
            <%= link_to "Create your own Link Tree", new_tree_path, class: "button-1", target: "_blank" %>
          <% end %>
        <% else %>
          <%= link_to "Create your own Link Tree", new_user_registration_path, class: "button-1", target: "_blank" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
